@{
    Layout = "~/_SiteLayout.cshtml";
}
<div class="body-content">
    <web-overview class="section"></web-overview>
    <why-us class="section"></why-us>
    <what-we-do class="section"></what-we-do>
    <our-clients class="section"></our-clients>
    <portfolio class="section"></portfolio>
</div>